<app-manage-course-blog [title]=DATA.title [subtitleHeading]='DATA.subtitleHeading'
  [subtitleDescription]="DATA.subtitleDescription" [cardImgPath]='DATA.cardImgPath' [cardHeading]='DATA.cardHeading'
  [cardDescription]="DATA.cardDescription" [cardBtnTitle]="DATA.cardBtnTitle"
  [subtitleBloglink]="DATA.subtitleBloglink">

  <h2>Tips</h2>
  <h3>Start with your goals.</h3>
  <p>Setting goals for what learners will accomplish in your course (also known as learning objectives) at the beginning
    will help you determine what content to include in your course and how you will teach the content to help your
    learners achieve the goals.</p>

  <h3>Create an outline.</h3>
  <p>Decide what skills you’ll teach and how you’ll teach them. Group related lectures into sections. Each section
    should have at least 3 lectures, and include at least one assignment or practical activity. Learn more.</p>


  <h3>Introduce yourself and create momentum.</h3>
  <p>People online want to start learning quickly. Make an introduction section that gives learners something to be
    excited about in the first 10 minutes.</p>

  <h2>Requirements</h2>
  <ul>
    <li>See the complete list of course quality requirements</li>
    <li>Your course must have at least five lectures</li>
  </ul>

  <h2>Resources</h2>
  <a href="#">Udemy Trust & Safety</a>
  <p>Our policies for instructors and students</p>
</app-manage-course-blog>
