.login_container{
  max-width: 25rem;
}
.main_heading {
  font-size: x-large;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  // max-width: 20rem;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}


.inner_container {
  padding: 1rem 1.5rem;

  & > div {
    padding: 0.8rem 1rem;
    margin: 0.5rem 0.1rem;
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    width: 100%;
    border: none;
    background-color: white;
  }
  input {
    width: 100%;
    padding-left: 1rem;
    border: none;
    background-color: white;

    &:focus {
      border: none;
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    &[data-autocompleted] {
      background-color: transparent !important;
    }
  }
}

.bordered_container{
    border: 1px solid black;
}

.container_box_shadow{
    box-shadow: 1px 1px 6px #aeaeae;
}

.google_icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
    margin-bottom: 0.1rem;
}

mat-icon {
  opacity: 0.6;
}

.login_button{
    background-color: #a435f0;
    button{
        color: white;
        background-color: #a435f0;
    }
}