.title-header {
  color: white;
  height: 4.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  h1 {
    font-size: larger;
  }
}

.main-container {
    // z-index: -20;
  // position: relative;
}

.floating-cart{
    position: fixed;
}

.course-info-section {
  color: white;
  width: 100%;

  padding-left: 5rem;

  .cart-card {
    margin-top: 2rem;

    h3 {
      font-size: large;
    }
  }
}

.play-btn{
  text-decoration: underline;
  color:  blue;
  cursor: pointer;
}

.course-internal-details {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.main-section {
  width: 60%;
  padding-left: 4rem;
  padding-top: 1rem;

  // padding-top: 3rem;

  & > * {
    margin: 2.5rem 0;
  }

  .outcomes {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding: 2rem;
  }

  h1 {
    font-size: x-large;
    font-weight: bold;
  }

  .course-content-header {
    ul {
      padding-left: 0.2rem;
    }

    li {
      list-style: none;
      float: left;
      padding: 0;
      font-size: medium;
      opacity: 0.5;
    }

    li:not(:first-child):before {
      content: "\2022";
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }

  .lecture-entry{
    mat-icon{
      margin-right: 1rem;
    }
  }

  .instructor-img {
    width: 8rem;
  }

  img {
    object-fit: contain;
    width: 100%;
  }

  .rounded-img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  .instructor-img {
    margin-right: 1rem;
  }

  .instructor-stats-container {
    display: flex;
    align-items: center;
  }

  .review-item::ng-deep {
    font-size: small;
    opacity: 0.7;
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 0.7rem;
      // opacity: 0.5;
    }
  }

  .student-feedback {
    display: flex;
    width: 100%;
    // flex: 1;

    .left {
      width: 20%;
      display: flex;
      flex-direction: column;

      color: goldenrod;
      align-items: center;
      justify-content: flex-end;

      h1 {
        font-size: xx-large;
      }
    }

    .right {
      width: 80%;
      flex: 1;
      cursor: pointer;
      .student-feedback-stats-item::ng-deep {
        display: flex;
        align-items: center;
        flex: 1;
        ngb-progressbar {
          opacity: 0.7;
          //   flex: 0.7;
          width: 80%;
          //   margin-right: 0.2rem;
        }

        ngb-rating {
          width: auto;
          margin-left: 0.2rem;
          font-size: large;
          color: goldenrod;
        }

        .feedback-percentage {
          font-size: small;
          margin-left: 0.2rem;
        }
      }
    }
  }

    .review-box {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    }

  .review-box {
    display: flex;
    .reviewer-img-container {
      width: 8rem;
      padding: 0.4rem;
    }

    .review-detail {
      padding: 0.5rem;
      h3 {
        font-size: medium;
        font-weight: bold;
        margin-bottom: 0px;
      }

      .review-rating {
        height: 1.3rem;
        & > p {
          margin-left: 0.8rem;
        }
      }

      & > p {
        font-size: medium;
        opacity: 0.9;
        padding-top: 0.5rem;
      }
    }



    .review-action-buttons {
      display: flex;
      align-items: center;

      & > * {
        margin-right: 0.8rem;
      }

      a {
        color: #000000;
        font-weight: 400;
      }
      mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid black;
        padding: 1rem;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
    }
  }
}

@media (min-width: 700px) {
  .cart-card {
    //   display: none;
    color: #000000;
    position: absolute;
    right: 10%;
    top: 20.5rem;
    padding: 3rem 1.5rem;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    width: 25%;
    button{
        width: 100%;
    }
    h1{
        font-weight: bolder;
    }
  }
}
