<div class="main-container d-flex w-100 py-5 justify-content-center align-items-center">
  <div class="resetpw_container">
    <h1 class="main_heading">Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="inner_container">

      <div class="password bordered_container">
        <mat-icon>lock</mat-icon>
        <input formControlName="password" type="password" placeholder="Password" />
      </div>

      <div class="reset_button">
        <button type="submit">Forget</button>
      </div>
    </form>

    <div class="d-flex justify-content-center align-items-center pt-3">
      <p>
        <a [routerLink]="['/auth/login']">Sign in</a>
      </p>
    </div>
  </div>

</div>
