<div class="main-container d-flex w-100 py-5 justify-content-center align-items-center">
  <div class="signup_container">
    <h1 class="main_heading">Forgot Password</h1>
    <form [formGroup]="form" (ngSubmit)="forgetPassword()" class="inner_container">

      <div class="email bordered_container">
        <mat-icon> email</mat-icon>
        <input formControlName="email" type="email" placeholder="Email" />
      </div>

      <div class="signup_button">
        <button type="submit">Forget</button>
      </div>
    </form>

    <div class="d-flex justify-content-center align-items-center pt-3">
      <p>
        <a [routerLink]="['/auth/login']">Sign in</a>
      </p>
    </div>
  </div>

</div>
