.add-lec-container {
  position: relative;
  min-height: 1rem;

  .add-lec-icon {
    position: absolute;
    top: 0.1rem;
    left: -1rem;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
  }

  .add-lec-btn {
    cursor: pointer;
    height: 1.75rem;
    width: 3rem;
    border-right: none;
    position: absolute;
    left: -1.75rem;
    top: 0;
    border: 1px dotted gray;
    background-color: white;
    display: flex;
    align-items: center;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0.1rem;
      right: -0.75rem;
      width: 1.4rem;
      height: 1.5rem;
      border: 1px dotted gray;
      background-color: white;
      border-left: none;
      border-bottom: none;
      transform: rotate(35deg) skew(342deg);
      -webkit-transform: rotate(35deg) skew(342deg);
      -moz-transform: rotate(35deg) skew(342deg);
      -ms-transform: rotate(35deg) skew(342deg);
      -o-transform: rotate(35deg) skew(342deg);
    }
  }

  &:hover {
    .add-lec-icon {
      opacity: 1;
    }
    .add-lec-btn {
      opacity: 1;
    }
  }
}

.selected {
  .add-lec-icon {
    left: 0.25rem;
    opacity: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .add-lec-btn {
    background-color: transparent;
    border: none;
    left: -3.1rem;
    width: 2rem;
    opacity: 1;

    &:after {
      right: -0.8rem;
      width: 1.5rem;
      border: 1px solid black;
      border-left: none;
      border-bottom: none;

      transform: rotate(45deg) skew(0deg);
      -webkit-transform: rotate(45deg) skew(0deg);
      -moz-transform: rotate(45deg) skew(0deg);
      -ms-transform: rotate(45deg) skew(0deg);
      -o-transform: rotate(45deg) skew(0deg);
    }
  }
}

.add-lec-content {
  margin-top: 1rem;
  display: flex;
  background-color: white;
  border: 1px solid black;
  padding: 1.25rem;
  gap: 0.5rem;
  margin-left: 2rem;
  .new-lec-form {
    flex: 1;
    button {
      background-color: transparent;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    input {
      width: 100%;
      outline: 0;
      height: 2.5rem;
      padding: 0 1rem;
      &:focus {
        outline: 0;
      }
      margin-bottom: 0.5rem;
    }

    .controls {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }

    .save-btn {
      background-color: black;
      color: white;
    }
    .cancel-btn {
    }
  }
}
