
// @import "../../../shared/genral-style.scss";

.container .heading-container  #name{
  text-transform: capitalize;
}
.heading-container {
    .new-course-btn-m {
      button {
        background-color: #a435f0;
        border: none;
        padding: 0.8rem;
        color: white;
      }
      display: none;
    }
  }
  
  .filter-container::ng-deep {
    .search-container {
      height: 3.4rem;
      margin-right: 1rem;
  
      .search-input {
        outline: none;
        padding: 0.5rem;
        &:focus {
          outline: none;
        }
      }
  
      .search-btn {
        padding: 0.3rem 0.5rem;
        border: none;
        background-color: black;
        color: white;
      }
    }
  
    .mat-form-field-underline {
      display: none;
    }
    .mat-form-field-flex {
      padding: 0.5em 0.5em 0 0.5em;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    .new-course-btn {
      button {
        background-color: #a435f0;
        border: none;
        padding: 0.8rem;
        color: white;
      }
    }
  }
  
  .course-list {
    .course {
      display: flex;
      flex: 1;
      height: 8rem;
      margin-bottom: 0.8rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      .course-details-container {
        position: relative;
        display: flex;
        flex: 1;
  
        &:hover {
          .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
        .course-details {
          width: 30%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .course-name {
            font-size: medium;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .publish-text {
          margin-right: 0.4rem;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba($color: white, $alpha: 0.9);
          h2 {
            color: #a435f0;
            font-size: large;
            font-weight: bold;
          }
        }
        .course-progress {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: space-between;
          .progress-heading{
              font-size: medium;
              font-weight: bold;
          }
          .progress-bar-container {
            flex: 1;
            min-width: 50%;
  
            .progress {
              height: 0.6rem;
            }
          }
        }
      }
    }
  }
  
  img {
    object-fit: contain;
    height: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .heading-container {
      .new-course-btn-m {
        display: block;
      }
    }
  
    .filter-container {
      flex: 1;
      .filter-controls {
        width: 100%;
        justify-content: space-between;
      }
      .new-course-btn {
        display: none;
      }
    }
  
    .course-details-container {
      .course-details {
        width: 100% !important;
      }
      .course-progress {
        display: none !important;
      }
    }
  }
  