.summary-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.head-heading {
  font-weight: bold;
  font-size: larger;
}

.head-details {
  width: 60%;
  font-weight: 200;
  opacity: 0.8;
}

.show-more-btn {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

::ng-deep .mat-tab-header {
  border-bottom: none;
}