<div class="add-lec-container" [ngClass]="{'selected': toggleFlag }">
  <mat-icon class="add-lec-icon" (click)="toggleContent()">add</mat-icon>
  <div class="add-lec-btn" (click)="toggleContent()">
  </div>
  <div class="add-lec-content" *ngIf="toggleFlag">
    <div>New Chapter: {{position}}</div>
    <form class="new-lec-form" [formGroup]="form" (submit)="addNewChapter()">
      <input type="text" formControlName="title">
      <div class="controls">
        <button class="cancel-btn" type="button" (click)="cancelHandler()">Cancel</button>
        <button class="save-btn" type="button" [disabled]="form.invalid" (click)="addNewChapter()">Add Chapter</button>
      </div>
    </form>
  </div>
</div>
